
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></option>
  <li>Carros de Luxo</option>
  <li class="active"></option>
</ol>
<section>
    <%= render partial: "car", collection: @cars %>
</section>
