<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></option>
  <li>Carros Novos</option>
  <li class="active"></option>
</ol>
<section>
  <% Car.novos.each do |car| %>
    <%= render partial: "car", locals: { c: car } %>
  <%end%>
</section>