<h1>Cadastrar Carro</h1>
<%= form_tag do %>
<% if @car.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@car.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
    <label >Marca</label>
    <input type="text" class="form-control" id="brand" name="brand">
   </div>

   <div class="form-group">
    <label >Modelo</label>
    <input type="text" class="form-control" id="model" name="model">
  </div>

  <div class="form-group">
    <label >Ano</label>
    <input type="text" class="form-control" id="year" name="year">
  </div>

  <div class="form-group">
    <label >Km</label>
    <input type="text" class="form-control" id="km" name="km">
  </div>

  <div class="form-group">
    <label >Motor</label>
    <input type="text" class="form-control" id="motor" name="motor">
  </div>

  <div class="form-group">
    <label >Valor R$</label>
    <input type="text" class="form-control" id="value" name="value">
  </div>
  <button type="submit" class="btn btn-default">Salvar</button>
<% end %>
